@import 'tailwindcss';
@plugin "daisyui";
/* works because Mantine wraps the input in a focus-within container */
.tw-like-input:focus-within {
    outline: none;
    border-color: #f97316; /* Tailwind orange-500 */
    box-shadow: 0 0 0 2px #f97316;
}
